<div class="container">
    <div class="row">
        <div class="col-12">
            <p>Usuario: {{user.first_name}} {{user.last_name}} 
                (<a href="/profile">{{user.email}}</a>)
            </p>
            <p>Role: {{user.role}} (<a href="/api/sessions/logout">Logout</a>) </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{#if paginateInfo.hasPrevPage}}
                <a href="{{paginate.prevLink}}">Anterior</a>
            {{/if}}
            
            {{#each paginateInfo.totalPages}}
                <a href="{{this.link}}">{{this.page}}</a>
            {{/each}}            
            
            {{#if paginateInfo.hasNextPage}}
                <a href="{{paginate.nextLink}}">Siguiente</a>
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h1>Productos</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {{#if emptyProducts}}
                <p>No hay productos en el inventario</p>
            {{else}}
                <table class="table table-striped">
                    <tr>
                        <td></td>
                        <td>Codigo</td>
                        <td>Nombre</td>
                        <td>Descripcion</td>
                        <td>Precio</td>
                        <td>Cantidad</td>
                        <td>Categoria</td>
                        <td>Imagenes</td>
                    </tr>
                    {{#each products}}
                    <tr>
                        <td><button class="btn btn-success" onclick="addProductToCart( '{{this._id}}','{{../user.cart}}')">Agregar</button></td>
                        <td>{{this.code}}</td>
                        <td>{{this.title}}</td>
                        <td>{{this.description}}</td>
                        <td>{{this.price}}</td>
                        <td>{{this.stock}}</td>
                        <td>{{this.category}}</td>
                        <td>{{this.thumbnails.[0]}}</td>
                    </tr>
                    {{/each}}
                </table>
            {{/if}}
        </div>
    </div>
    
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src='/js/home.js'></script>